{% extends 'base.html'%}

{% block content %}

<h1>expenses list</h1>
<ul class="list-group">
    <li class="list-group-item">Beer bottle</li>
    <li class="list-group-item">Beer bottle</li>
    <li class="list-group-item">Beer bottle</li>
    <li class="list-group-item">Beer bottle</li>
    <li class="list-group-item">Beer bottle</li>
    <li class="list-group-item">Beer bottle</li>
    <li class="list-group-item">Beer bottle</li>
    <li class="list-group-item">Beer bottle</li>
    <li class="list-group-item">Beer bottle</li>
    <li class="list-group-item">Beer bottle</li>
    <li class="list-group-item">Beer bottle</li>


</ul>
{% endblock content %}